<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BookController</servlet-name>
        <servlet-class>LitJunction.controller.BookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCustomerController</servlet-name>
        <servlet-class>LitJunction.controller.LoginCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdminController</servlet-name>
        <servlet-class>LitJunction.controller.LoginAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>LitJunction.controller.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerAdminController</servlet-name>
        <servlet-class>LitJunction.controller.CustomerAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierController</servlet-name>
        <servlet-class>LitJunction.controller.SupplierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtocartController</servlet-name>
        <servlet-class>LitJunction.controller.AddtocartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticController</servlet-name>
        <servlet-class>LitJunction.controller.StatisticController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceCustomerController</servlet-name>
        <servlet-class>LitJunction.controller.InvoiceCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyController</servlet-name>
        <servlet-class>LitJunction.controller.BuyController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookController</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCustomerController</servlet-name>
        <url-pattern>/logincustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdminController</servlet-name>
        <url-pattern>/loginadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerAdminController</servlet-name>
        <url-pattern>/cvacon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierController</servlet-name>
        <url-pattern>/supplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtocartController</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticController</servlet-name>
        <url-pattern>/statistic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceCustomerController</servlet-name>
        <url-pattern>/invoicecustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyController</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>customer</welcome-file>
    </welcome-file-list>
</web-app>
